<%= simple_form_for(@alarm) do |f| %>
  <%= f.error_notification %>

  <%= f.input :resident_id, as: :select, :collection => Resident.all %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
