<h1>Devices</h1>
<br>

  <table class="table table-bordered table-striped table-condensed" style="width:50%;left:20px;">
      <thead>
        <tr>
            <th>Device ID</th><th><center>Device Status</center></th><th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>
        <% @devices.each do |device| %>
            <tr>
               <td><%= link_to device.id, device %></td>
               <td style="text-align: center;">
                  <% if device.status==true %>
                      <span class="label label-success">Online</span>
                  <% elsif device.status==false %>
                      <span class="label label-offline">Offline</span
                  <% end %>     



               </td>
               <td style="text-align: center;">
                  <%= link_to(edit_device_path(device)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(device, method: :delete, data: { confirm: 'Are you sure?' }) do %><i class="halflings-icon black trash"></i><% end %>
            </tr>
        <% end %>
                                   
      </tbody>
  </table>

<br />

<%= link_to 'New Device', new_device_path, class: "btn btn-primary" %>

             

