
<h1>Dashboard</h1>
 
				
				<div class="box span4" onTablet="span6" onDesktop="span4">
					<div class="box-header">
						<h2><i class="halflings-icon user"></i><span class="break"></span>Residents</h2>
						
					</div>
					
				</div><!--/span-->
				
				<div class="box span4" onTablet="span6" onDesktop="span4">
					<div class="box-header">
						<h2><i class="halflings-icon bell"></i><span class="break"></span>Alarms</h2>
						
					</div>
					
				</div><!--/span-->
				
				<div class="box span4 noMargin" onTablet="span12" onDesktop="span4">
					<div class="box-header">
						<h2><i class="halflings-icon hdd"></i><span class="break"></span>Devices</h2>
						
					</div>
					
				</div>

