<div style="padding: 0px 0px 0px 20px;">

<h1>Residents</h1>

	<table class="table table-bordered table-striped table-condensed" style="width:50%;left:20px;">
		  <thead>
			  <tr>
			  	  <th>Resident ID</th><th>Resident Name</th><th>Device ID</th><th>Status</th>
			  </tr>
		  </thead>   
		  <tbody>
			<tr>
				<td>1</td>
				<td>Hank Moody</td>
				<td class="center">4324</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>                                       
			</tr>
			<tr>
				<td>2</td>									
				<td>Karen Van Der Beek</td>
				<td class="center">4533</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>                                       
			</tr>
			<tr>
				<td>3</td>
				<td>Rebecca Moody</td>
				<td class="center">2342</td>
				<td class="center">
					<span class="label">Inactive</span>
				</td>                                        
			</tr>
			<tr>
				<td>4</td>									
				<td>Atticus Fetch</td>
				<td class="center">6546</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>                                       
			</tr>
			<tr>
				<td>5</td>
				<td>Sam Apocalypse</td>									
				<td class="center">54353</td>
				<td class="center">
					<span class="label label-success">Active</span>
				</td>                                        
			</tr>                                   
		  </tbody>
	 </table> 

</div> 
						 
