<h1>Residents</h1>
<br>


  <table class="table table-bordered table-striped table-condensed" style="width:50%;left:20px;">
      <thead>
        <tr>
            <th>Resident Name</th><th><center>Resident Status</center></th><th><center>Options</center></th>
        </tr>
      </thead>   
      <tbody>
        <% @residents.each do |resident| %>
            <tr>
              <td><%= link_to resident.name, resident %></td>
              <td style="text-align: center;"><span class="label label-success">Active</span></td>
              <td style="text-align: center;">
                  <%= link_to(edit_resident_path(resident)) do %><i class="halflings-icon black pencil"></i><% end %>
                  <%= link_to(resident, method: :delete, data: { confirm: 'Are you sure?' }) do %><i class="halflings-icon black trash"></i><% end %>
              </td>
            </tr>
        <% end %>
                                   
      </tbody>
  </table>

<br />

<%= link_to (new_resident_path), class: "btn btn-primary" do %>
New Resident
<% end %>




             

