<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @resident.name %>
</p>

<p>
	<b>Device: </b>

</p>

<p>
	<b>Alarms: </b>



</p>
<%= link_to 'Edit', edit_resident_path(@resident) %> |
<%= link_to 'Back', residents_path %>
