


<div id="sidebar-left" class="span1">
	<div class="nav-collapse sidebar-nav">
		<ul class="nav nav-tabs nav-stacked main-menu">
			
			<li class="active"><a href="index.html"><div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black home"></i></div><span class="hidden-tablet"> Dashboard</span></a></li>	
			
			<li><a href="infrastructure.html"><div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black user"></i></div><span class="hidden-tablet"> Residents</span></a></li>
			
			<li><a href="messages.html"><div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black bell"></i></div><span class="hidden-tablet"> Alarms</span></a></li>
			
			<li><a href="tasks.html"><div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black hdd"></i></div><span class="hidden-tablet"> Devices</span></a></li>
			
			<li><a href="ui.html"><div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black calendar"></i></div><span class="hidden-tablet"> Calendar</span></a></li>
			
			<li><a href="widgets.html"><div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black tasks"></i></div><span class="hidden-tablet"> Data</span></a></li>

			<li><a href="widgets.html"><div style="height=16px;width:16px;margin-left:37px;"><i class="halflings-icon black cog"></i></div><span class="hidden-tablet"> Preferences</span></a></li>


		</ul>
	</div>
</div>